.sponsors_list{
    display: flex;
    gap: 52px;
    align-items:center;
    justify-content: center;
    padding: 0;
    padding-top: 68px ;
    padding-bottom: 68px ;
    margin: 0;
}

.sponsors{
    margin-bottom: 65px;
}