@import "./header.css";
@import "./hero.css";
@import "./aboutus.css";
@import "./cards_room.css";
@import "./services.css";
@import "./sponsors.css";

a{
    text-decoration: none;

}

ul{
    list-style-type: none;
}

.container{
    position: relative;
    width: 1300px;
    margin: 0 auto;
}



